nav.navbar.navbar-inverse
    div.container-fluid
        div.navbar-header
            a.navbar-brand(href="#") Task Manager
        ul.nav.navbar-nav
            li
                a(routerlink="/") Home
            li
                a(routerlink="/tasks") Tasks
            li
                a(routerlink="/AboutUs") About Us